name: Actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  unittest:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - { os: ubuntu-latest, pip: ~/.cache/pip }
          - { os: macos-latest, pip: ~/Library/Caches/pip }
        python: ["3.7", "3.8", "3.9", "3.10"]
    name: "${{ matrix.config.os }} Python ${{ matrix.python }}"
    steps:
      - uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          architecture: x64
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ${{ matrix.config.pip }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml', '**/setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .[test]
      - name: Test
        run: python -m unittest discover
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Black
        uses: psf/black@stable
  docs:
    runs-on: ubuntu-latest
    needs: [unittest, lint]
    name: Generate docs
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - id: deployment
        uses: sphinx-notes/pages@v3
        with:
          publish: ${{ github.event_name == 'push' }}
